input,
input::-webkit-input-placeholder {
    font-size: 16px;
}

/* option:hover {
  background-color: rgba(255, 99, 71, 0.6);
} */

select :hover {
    box-shadow: 0 0 10px 100px #fafafa inset;
}

#marker-color,#marker-shape,#marker-size {
  background-color: bisque;
  border-radius: 5px;
  border: 1px solid #b88e5d;
}
