<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard - NEMS Lab</title>
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="static/dashboard.css">
</head>

<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
          <div class="sidebar-brand-text mx-3"><span>NEMS Lab</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fas fa-window-maximize"></i><span>Blank Page</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
          <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
            <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
            </form>
            <ul class="navbar-nav flex-nowrap ms-auto">
              <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="me-auto navbar-search w-100">
                    <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                      <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                    </div>
                  </form>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3</span><i class="fas fa-bell fa-fw"></i></a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                    <h6 class="dropdown-header">Notifications</h6><a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="me-3">
                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                      </div>
                      <div><span class="small text-gray-500">Oct 1, 2021</span>
                        <p>report reminder</p>
                      </div>
                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="me-3">
                        <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                      </div>
                      <div><span class="small text-gray-500">Oct 1, 2021</span>
                        <p>Payment reminder</p>
                      </div>
                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="me-3">
                        <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                      </div>
                      <div><span class="small text-gray-500">Oct 1, 2021</span>
                        <p>system alert</p>
                      </div>
                    </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">4</span><i class="fas fa-envelope fa-fw"></i></a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                    <h6 class="dropdown-header">Messages</h6><a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="dropdown-list-image me-3"><img class="rounded-circle" src="static/assets/img/avatars/cense.jpg">
                        <div class="bg-success status-indicator"></div>
                      </div>
                      <div class="fw-bold">
                        <div class="text-truncate"><span>Suggested experiments</span></div>
                        <p class="small text-gray-500 mb-0">Lab 1 - 58m</p>
                      </div>
                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="dropdown-list-image me-3"><img class="rounded-circle" src="static/assets/img/avatars/cense.jpg">
                        <div class="status-indicator"></div>
                      </div>
                      <div class="fw-bold">
                        <div class="text-truncate"><span>Discussion</span></div>
                        <p class="small text-gray-500 mb-0">Lab 1 - 1d</p>
                      </div>
                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="dropdown-list-image me-3"><img class="rounded-circle" src="static/assets/img/avatars/cense.jpg">
                        <div class="bg-warning status-indicator"></div>
                      </div>
                      <div class="fw-bold">
                        <div class="text-truncate"><span>Report</span></div>
                        <p class="small text-gray-500 mb-0">Lab 2 - 2d</p>
                      </div>
                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="dropdown-list-image me-3"><img class="rounded-circle" src="static/assets/img/avatars/cense.jpg">
                        <div class="bg-success status-indicator"></div>
                      </div>
                      <div class="fw-bold">
                        <div class="text-truncate"><span>Upgrade</span></div>
                        <p class="small text-gray-500 mb-0">Admin · 2w</p>
                      </div>
                    </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                  </div>
                </div>
                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
              </li>
              <div class="d-none d-sm-block topbar-divider"></div>
              <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">NemsLab</span><img
                      class="border rounded-circle img-profile" src="static/assets/img/avatars/cense.jpg"></a>
                  <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i
                        class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container-fluid">
          <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Transport Charecterization</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
          </div>
          <div class="row d-sm-flex d-lg-flex justify-content-sm-center justify-content-lg-center" style="max-width: 500px; margin: auto;">
            <div class="col-md-6 col-xl-3 mb-4" style="min-width: 250px;max-width: 250px; margin:auto">
              <div class="card shadow border-start-primary py-2">
                <div class="card-body" style="min-height: 150px">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text text-primary fw-bold text-s mb-1"><span>V<sub>sd</sub> (mV)</span></div>
                      <!-- <div class="text-dark fw-bold h5 mb-0"><span>Param 1</span></div> -->
                    </div>
                    <div class="col-auto">
                      <div class="form-check"><input class="form-check-input run_dict_elem" type="radio" id="vsd_sweep_state" name="sweep_var"><label class="form-check-label" for="vsd_sweep_state">Sweep</label></div>
                    </div>
                  </div>
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="text-dark fw-bold h5 mb-0"><input class="run_dict_elem" id="vsd_sweep_start" type="number" name="Start" step="0.25" min="0" max="10" placeholder="Start" style="width: 150px;"></div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="text-dark fw-bold h5 mb-0 sweep_sd_params"><input class="run_dict_elem" id="vsd_sweep_step" type="number" name="step" step="0.25" min="0.25" max="5" placeholder="step" style="width: 150px;"></div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="text-dark fw-bold h5 mb-0 sweep_sd_params"><input class="run_dict_elem" id="vsd_sweep_end" type="number" name="End" step="0.25" min="0.25" max="10" placeholder="End" style="width: 150px;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4" style="min-width: 250px;max-width: 250px; margin:auto">
              <div class="card shadow border-start-primary py-2">
                <div class="card-body" style="min-height: 150px">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text text-primary fw-bold text-s mb-1"><span>V<sub>g</sub> (V)</span></div>
                      <!-- <div class="text-dark fw-bold h5 mb-0"><span>Param 1</span></div> -->
                    </div>
                    <div class="col-auto">
                      <div class="form-check"><input class="form-check-input run_dict_elem" type="radio" id="vg_sweep_state" name="sweep_var"><label class="form-check-label" for="vsd_sweep_state">Sweep</label></div>
                    </div>
                  </div>
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="text-dark fw-bold h5 mb-0"><input class="run_dict_elem" id="vg_sweep_start" type="number" name="Start" step="0.25" min="0" max="10" placeholder="Start" style="width: 150px;"></div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="text-dark fw-bold h5 mb-0 sweep_g_params"><input class="run_dict_elem" id="vg_sweep_step" type="number" name="step" step="0.25" min="0.25" max="5" placeholder="step" style="width: 150px;"></div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="text-dark fw-bold h5 mb-0 sweep_g_params"><input class="run_dict_elem" id="vg_sweep_end" type="number" name="End" step="0.25" min="0.25" max="10" placeholder="End" style="width: 150px;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-6 col-xl-3 mb-4" style="min-width: 250px;max-width: 250px;">
              <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Card 1</span></div>
                      <div class="text-dark fw-bold h5 mb-0"><span>Param 1</span></div>
                    </div>
                    <div class="col-auto">
                      <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-5" name="sweep_var"><label class="form-check-label" for="formCheck-4">Sweep</label></div>
                    </div>
                  </div>
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="row">
                        <div class="col">
                          <div class="text-dark fw-bold h5 mb-0"><input type="number" name="Start" step="0.25" placeholder="Start" style="width: 150px;"></div>
                          <div class="text-dark fw-bold h5 mb-0"><input type="number" name="step" step="0.25" placeholder="step" style="width: 150px;"></div>
                          <div class="text-dark fw-bold h5 mb-0"><input type="number" name="End" step="0.25" placeholder="End" style="width: 150px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-8" name="sweep_direction"><label class="form-check-label" for="formCheck-4">One Way</label></div>
                    </div>
                    <div class="col-auto">
                      <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-9" name="sweep_direction"><label class="form-check-label" for="formCheck-4">Mirror</label></div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-md-6 col-xl-3 mb-4" style="min-width: 250px;max-width: 250px; margin:auto">
              <div class="card shadow border-start-primary py-2">
                <div class="card-body" id="card_read">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text text-primary fw-bold text-s mb-1"><span>Read (device parameter)</span></div>
                      <!-- <div class="text-dark fw-bold h5 mb-0"><span>Read Chanel:</span></div> -->
                    </div>
                  </div>
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="row">
                        <div class="col">
                          <div class="text-dark fw-bold h5 mb-0">
                            <div class="form-check"><input class="form-check-input run_dict_elem" type="radio" id="record_param_I" name="record_param"><label class="form-check-label" for="record_param_I">I</label></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="text-dark fw-bold h5 mb-0">
                            <div class="form-check"><input class="form-check-input run_dict_elem" type="radio" id="record_param_V" name="record_param"><label class="form-check-label" for="record_param_V">V</label></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="text-dark fw-bold h5 mb-0">
                            <div class="form-check"><input class="form-check-input run_dict_elem" type="radio" id="record_param_R" name="record_param" checked><label class="form-check-label" for="record_param_R">R</label></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4" style="min-width: 250px;max-width: 250px; margin:auto">
              <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text text-primary fw-bold text-s mb-1"><span>Sweep style</span></div>
                      <!-- <div class="text-dark fw-bold h5 mb-0"><span>Param 1</span></div> -->
                    </div>
                  </div>

                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="form-check"><input class="form-check-input run_dict_elem" type="radio" id="vsd_sweep_oneWay" name="sweep_direction"><label class="form-check-label" for="vsd_sweep_oneWay">One Way</label></div>
                    </div>
                    <div class="col-auto">
                      <div class="form-check"><input class="form-check-input run_dict_elem" type="radio" id="vsd_sweep_mirror" name="sweep_direction" checked><label class="form-check-label" for="vsd_sweep_mirror">Mirror</label></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4" style="min-width: 250px;max-width: 250px; margin:auto">
              <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text text-primary fw-bold text-s mb-1"><span>Run</span></div>
                      <!-- <div class="text-dark fw-bold h5 mb-0"><span>Run:</span></div> -->
                    </div>
                  </div>
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="row">
                        <div class="col">
                          <div class="text-dark fw-bold h5 mb-0"><button id="run_start" class="btn btn-primary" type="button" style="background-color:#1cc88a; border-color:#1cc88a">Start</button></div>
                        </div>
                        <div class="col">
                          <div class="text-dark fw-bold h5 mb-0"><button id="run_stop" class="btn btn-primary" type="button" style="background-color:#e74a3b; border-color:#e74a3b">Stop</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7 col-xl-8">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0">Sweep Plot</h6>
                  <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                      <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="sweep_plot">
                    </canvas>
                  </div>
                  <div class="text-center small mt-4">
                    <span class="me-2">
                      <input list="marker-color" name="color" id="sw-marker-color-ip" placeholder="color hex" style="width:75px; text-align:center;">
                      <datalist name="color" id="sw-marker-color" onfocus='this.size=-10;' onblur='this.size=0;' onchange='this.size=1; this.blur();'>
                        <option class="opt-hover" value="color" disabled selected hidden>Color</option>
                        <option class="opt-hover" value="e74a3b">e74a3b</option>
                        <option class="opt-hover" value="4e73df">4e73df</option>
                        <option class="opt-hover" value="f6c23e">f6c23e</option>
                      </datalist>
                    </span>
                    <span class="me-2">
                      <select name="shape" id="sw-marker-shape">
                        <option value="shape" disabled selected hidden>Shape</option>
                        <option value="circle">circle</option>
                        <option value="rectRounded">rectRounded</option>
                        <option value="rect">rect</option>
                        <option value="rectRot">rectRot</option>
                        <option value="triangle">triangle</option>
                        <option value="dash">dash</option>
                        <option value="star">star</option>
                        <option value="cross">cross</option>
                        <option value="crossRot">crossRot</option>
                        <option value="line">line</option>
                      </select>
                    </span>
                    <span class="me-2">
                      <input type="number" name="" value="4" min="1" id="sw-marker-size" style="width:50px" placeholder="Size">
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-xl-4">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0">Plot History</h6>
                  <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                      <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <h5 id="history_plot_leg">Select datafile to plot</h5>
                    <canvas id="sweep_history_plot">
                    </canvas>
                  </div>
                  <div class="text-center small mt-4">
                    <span class="me-2">
                      <input list="marker-color" name="color" id="marker-color-ip" placeholder="color hex" style="width:75px; text-align:center;">
                      <datalist name="color" id="marker-color" onfocus='this.size=-10;' onblur='this.size=0;' onchange='this.size=1; this.blur();'>
                        <option class="opt-hover" value="color" disabled selected hidden>Color</option>
                        <option class="opt-hover" value="e74a3b">e74a3b</option>
                        <option class="opt-hover" value="4e73df">4e73df</option>
                        <option class="opt-hover" value="f6c23e">f6c23e</option>
                      </datalist>
                    </span>
                    <span class="me-2">
                      <select name="shape" id="marker-shape">
                        <option value="shape" disabled selected hidden>Shape</option>
                        <option value="circle">circle</option>
                        <option value="rectRounded">rectRounded</option>
                        <option value="rect">rect</option>
                        <option value="rectRot">rectRot</option>
                        <option value="triangle">triangle</option>
                        <option value="dash">dash</option>
                        <option value="star">star</option>
                        <option value="cross">cross</option>
                        <option value="crossRot">crossRot</option>
                        <option value="line">line</option>
                      </select>
                    </span>
                    <span class="me-2">
                      <input type="number" name="" value="4" min="1" id="marker-size" style="width:50px" placeholder="Size">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4" id="history_card">
                <div class="card-header py-3">
                  <h6 class="text-primary fw-bold m-0">Experiment History <button class="btn float-end" id="update_history"><i class="fa fa-refresh"></i></button></h6>
                </div>
                <ul class="list-group list-group-flush" id="datafile_list" style="overflow: auto; max-height: 30vh">
                  <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">10:30 AM</span>
                      </div>
                      <div class="col-auto">
                        <div class="form-check"><button class="btn"><i class="fa fa-download"></i></button></div>
                      </div>
                      <!-- <div class="col-auto">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"></label></div>
                      </div> -->
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <h6 class="mb-0"><strong>Lunch meeting 2</strong></h6><span class="text-xs">10:30 AM</span>
                      </div>
                      <div class="col-auto">
                        <div class="form-check"><button class="btn"><i class="fa fa-download"></i></button></div>
                      </div>
                      <!-- <div class="col-auto">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"></label></div>
                      </div> -->
                    </div>
                  </li>
                </ul>
              </div>
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="text-primary fw-bold m-0">Device Details</h6>
                </div>
                <div class="card-body">
                  <a href="https://indianinstituteofscience-my.sharepoint.com/:f:/g/personal/swapnilmore_iisc_ac_in/EtGABF8fsNlFs29VZdrxlXgBJXWvsW0MAhia-rz49-kyMw?e=0SV7VQ">
                    <h4 class="small fw-bold">SEM Images</h4>
                  </a>
                  <a href="https://indianinstituteofscience-my.sharepoint.com/:f:/g/personal/swapnilmore_iisc_ac_in/Ejd4UOtCow5FrvkuD1w5HtsBI_skqj8QfN2cGEcVsAfN6A?e=UvwbeU">
                    <h4 class="small fw-bold">Fabrication Repository</h4>
                  </a>
                  <a href="https://indianinstituteofscience-my.sharepoint.com/:i:/g/personal/swapnilmore_iisc_ac_in/EbkD5OqNyQZFnoJALxU87TgB7IOsuCp4vXRY4_dqUGNYjA?e=hVR29p">
                    <h4 class="small fw-bold">I-V characteristics</h4>
                  </a>
                  <a href="https://indianinstituteofscience-my.sharepoint.com/:f:/g/personal/swapnilmore_iisc_ac_in/EtGABF8fsNlFs29VZdrxlXgBJXWvsW0MAhia-rz49-kyMw?e=0SV7VQ">
                    <h4 class="small fw-bold">Transport characteristics</h4>
                  </a>
                  <!-- <h4 class="small fw-bold">SEM Images<span class="float-end">20%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span></div>
                  </div>
                  <h4 class="small fw-bold">Sales tracking<span class="float-end">40%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">40%</span></div>
                  </div>
                  <h4 class="small fw-bold">Customer Database<span class="float-end">60%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="visually-hidden">60%</span></div>
                  </div>
                  <h4 class="small fw-bold">Payout Details<span class="float-end">80%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                  </div>
                  <h4 class="small fw-bold">Account setup<span class="float-end">Complete!</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-primary text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Primary</p>
                      <p class="text-white-50 small m-0">#4e73df</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-success text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Success</p>
                      <p class="text-white-50 small m-0">#1cc88a</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-info text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Info</p>
                      <p class="text-white-50 small m-0">#36b9cc</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-warning text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Warning</p>
                      <p class="text-white-50 small m-0">#f6c23e</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-danger text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Danger</p>
                      <p class="text-white-50 small m-0">#e74a3b</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-secondary text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Secondary</p>
                      <p class="text-white-50 small m-0">#858796</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © NEMS Lab 2021</span></div>
        </div>
      </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/assets/js/chart.min.js"></script>
  <script src="static/assets/js/bs-init.js"></script>
  <script src="static/assets/js/theme.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js" integrity="sha512-fB746S+jyTdN2LSWbYSGP2amFYId226wpOeV4ApumcDpIttPxvk1ZPOgnwqwQziRAtZkiFJVx9F64GLAtoIlCQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>
</body>
<script src="static/dashboard.js"></script>

</html>