<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js" integrity="sha512-fB746S+jyTdN2LSWbYSGP2amFYId226wpOeV4ApumcDpIttPxvk1ZPOgnwqwQziRAtZkiFJVx9F64GLAtoIlCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div class="instrument" id="kt26">
      <p>KT 26</p>
    </div>
    <br>
    <div class="instrument" id="stop_button">
      <p>Stop</p>
    </div>
    <div class="parameter_form_container">
      <form class="parameter_form">
        <input type="radio" id="inst_1" name="inst" value="inst_1">
        <label for="fo1">Instrument 1</label><br>
        <input type="radio" id="inst_2" name="inst" value="inst_2" />
        <label for="fo2">Instrument 2</label><br>
        <input type="radio" id="exp_1" name="exp" value="exp_1" />
        <label for="foo1">Experiment 1</label><br>
        <input type="radio" id="exp_2" name="exp" value="exp_2" />
        <label for="foo2">Experiment 2</label><br>
        <input name="name" value="name" />
        <select name="param">
            <option value="VgDC" selected="selected">Vg DC</option>
            <option value="VgAC">Vg AC</option>
        </select>
        <input type="submit" value="Submit form">
      </form>
    </div>
  </body>
  <script src="static/index.js"></script>
</html>
